# Ignore everything in the dataset directory
/data/frames-exp4train.hdf5
/data/peaks-exp4train-psz11.hdf5
env/
.env/
/saved_models/*
data/normalized_data3/
data/normalized_data3-20240423T200227Z-001.zip
data/normalized_data3-20240430T145906Z-001.zip
plots/Pareto_BOPs/
*.pyc
.DS_Store
